.custom-select {
    background-color: #aff4c6; /* Cambiar el color de fondo */
    height: 30px;
    width: 250px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
}
.buttons {
    margin: 24px 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
}

.add_Question {
    background-color: #aff4c6; /* Cambiar el color de fondo */
    height: 30px;
    width: 30px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border: none;
}

.delete_Question {
    background-color: #ff0000; /* Cambiar el color de fondo a rojo */
    height: 30px;
    width: 30px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border: none;
}

.add_Answer {
    background-color: #333; /* Cambiar el color de fondo */
    height: 30px;
    width: 30px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border: none;
}

.delete_Answer {
    background-color: #ff0000; /* Cambiar el color de fondo a rojo */
    height: 30px;
    width: 30px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border: none;
}

.question {
    margin-bottom: 10px;
}
.answer {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Estilo para el label */
.titulo_label {
    font-size: 15px; /* Cambia el tamaño de fuente según tus preferencias */
    margin-left: 10px;
    margin-right: 10px; /* Label takes up all available space */
}

/* Estilo para el input */
.titulo_input {
    font-size: 16px; /* Cambia el tamaño de fuente según tus preferencias */
    width: 300px; /* Cambia el ancho según tus preferencias */
    height: 40px; /* Cambia la altura según tus preferencias */
    border-radius: 5px;
    background-color: #e6e6e6;
    border: none;
    margin-top: 10px;
}
.opcion h1 {
    font-size: 18px; /* Cambia el tamaño de la fuente según tus preferencias */
}
.opcion {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

.opcion > div {
    margin-right: 20px;
}

.opcion select,
.opcion h1 {
    display: inline-block;
    vertical-align: middle; /* Alinea verticalmente el contenido */
}

.opcion h1 {
    margin-right: 10px; /* Espacio entre el h1 y el select */
    margin-left: 30px;
}
.centrar-h1 {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;
    height: 3vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
    margin-top: 50px;
    /* Estilo para el menú oculto */
}
.custom-select {
    background-color: #70cad2; /* Cambiar el color de fondo */
    height: 30px;
    width: 250px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
}
.custom-select2 {
    background-color: #e6e6e6; /* Cambiar el color de fondo */
    height: 30px;
    width: 250px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
}
/* Estilo para la tabla */
.table-custom {
    height: 80%;
    width: 80%; /* Cambia el ancho de la tabla según tus preferencias */
    margin: 0 auto; /* Centra la tabla horizontalmente en su contenedor */
    border: 2px solid #333; /* Cambia el color del borde de la tabla */
    border-collapse: collapse;
    font-size: 1vw;
}
.table-responsive {
    width: 100%; /* La tabla ocupará todo el ancho disponible */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

/* Estilo para las celdas de encabezado */
.table-custom th {
    background-color: #f2f2f2; /* Cambia el color de fondo del encabezado */
    text-align: center; /* Alinea el texto en el centro del encabezado */
    padding: 10px; /* Cambia el espaciado interno de las celdas */
}

/* Estilo para las celdas de datos */
.table-custom td {
    text-align: center; /* Alinea el texto en el centro de las celdas de datos */
    padding: 10px; /* Cambia el espaciado interno de las celdas */
}

/* Estilo para las filas alternas (opcional) */
.table-custom tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Cambia el color de fondo de las filas pares */
}
.first-column {
    background-color: #e4ccff; /* Cambia el color de fondo de la primera columna */
    font-weight: bold; /* Cambia el estilo del texto en la primera columna (opcional) */
    width: 5%;
}
.table-custom th {
    background-color: #84bfa0; /* Cambia el color de fondo de las celdas <th> */
    color: white; /* Cambia el color del texto en las celdas <th> */
    text-align: center;
}
.centrar-h1 {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;
    height: 3vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
    margin-top: 50px;
}
.enlace-negro-sin-subrayado {
    color: black; /* Hace que el texto sea negro */
    text-decoration: none; /* Elimina la línea debajo del enlace */
}
.centrar-h1 {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;
    height: 3vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
    margin-top: 50px;
    /* Estilo para el menú oculto */
}
.for {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    background-color: #b6b6b6;
}
.container {
    margin-top: 3%;
    text-align: center; /* Alineación horizontal */
}
.container h1,
.container div {
    display: inline-block;
    vertical-align: middle;
}
.menuBottones {
    height: 100%;
    width: 20%;
    margin-left: 10%;
    margin-top: 3%;
}
.botones2 {
    background-color: #fcd19c; /* Cambiar el color de fondo */
    height: 30px;
    width: 180px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
}
.grafica {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: 100%;
}

.custom-select3 {
    background-color: #70cad2; /* Cambiar el color de fondo */
    height: 30px;
    width: 250px;
    border-radius: 30px;
    border: none;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.grafica2 {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-container_titulo {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 5.9%;
}
.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 3%;
}
.input-container_indicasio {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 2.9%;
}
.input-container_question {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 0.1%;
}
.encabezado {
    font-size: 5vw; /* Establece el tamaño del h1 en función del ancho de la pantalla */
    text-align: center; /* Centra el texto */
}
.grafica3 {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: 100%;
    display: inline-block; /* Hace que los contenedores se muestren en línea */
    width: 50%; /* Establece el ancho al 50% para que estén uno al lado del otro */
    padding: 10px; /* Agrega un espacio entre los contenedores si lo deseas */
    box-sizing: border-box; /* Incluye el padding en el ancho total del contenedor */
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}